* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CATEGORY-BANNER */
.category-banner {
    margin-top: 138px;
}

/* product-category-card */

.circle-card img {
    border: 1px solid #4F4F4F;
}

.product-category-card {
    height: 500px;
    width: 349px;
    margin: auto;
    overflow: hidden;
}

.product-category-card img {
    height: 349px;
    width: 349px;
    margin: auto;
}

/* video-section */
.video-section {
    background-color: #C4C4C4;
}

.pulse-play {
    position: absolute;
    font-size: 94px;
    height: 94px;
    width: 94px;
    color: rgba(0, 0, 0, 0.75);
    top: 40%;
    left: 50%;
    margin-top: -47px;
    margin-left: -47px;
    z-index: 99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.modal-content {
    background: transparent !important;
    border: none !important;
}


/* product-category-appointment */
.product-category-appointment {
    background: #FC616C;
    padding: 40px 0;
    box-shadow: 0px 20px 40px rgba(252, 97, 108, 0.25);
}

.product-category-appointment h3 {
    color: #fff;
}

.product-category-appointment-btn {
    background-color: #2D3291 !important;
}

.product-category-appointment-btn:hover {
    background-color: #5056c3 !important;
}