* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    background-color: #FFFFFF !important;
}

.language {
    display: flex;
    right: 0;
    margin-bottom: 70px;
}

.language a {
    font-size: 13px;
}

.active-language {
    background-color: #FC616C;
    color: #fff !important;
    padding: 0px 5px !important;
    border-radius: 10px;
}

/* BANNER */
.banner {
    margin-top: 138px;
}

/* WHY-CHOOSE-US */
.choose-us-section {
    min-height: 500px;
}

.choose-card {
    border: 1.4px solid #E0E3EB !important;
    background-color: #FFFFFF !important;
}

.choose-card .card-text {
    color: #858EAD;
    font-weight: 400;
}

/* ABOUT */
.about-section {
    background-image: url('./images/Rectangle\ 20.png');
    min-height: 811px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.about-text-container {
    background: rgba(252, 97, 108, 0.92);
    width: 50%;
    min-height: 811px;
    float: right;
    opacity: 0.8;
}

.about-text h1 {
    color: #2D3291;
    font-weight: 700;
}

.about-text p {
    color: #FFFFFF;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
}

.know-more-btn {
    background: #2D3291 !important;
    color: #FFFFFF !important;
    border-radius: 20px !important;
    width: 185px;
    height: 58px;
    font-weight: 600 !important;
}

/* WE SPECIALIZE IN */
.specialize-section {
    min-height: 500px;
    background-color: #FFFFFF;
}

.specialize-container {
    margin-top: 90px;
}

.specialize-card {
    background: #FC616C;
    box-shadow: 0px 30px 40px rgba(252, 97, 108, 0.35);
    border-radius: 15px;
    width: 202px;
    height: 250px;
    margin: auto;
}

/* Remarkable Features */
.remarkable-features {
    background: rgba(128, 240, 255, 0.1);
    min-height: 812px;
}

/* TRENDING NOWADAYS */
.trending-section {
    background: linear-gradient(180deg, #190594 0%, rgba(35, 39, 124, 0.65) 100%);
    /* min-height: 1200px; */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover; */
}

.trending-card img {
    width: 257px;
    height: 374px;
}

/* BOOK FREE CONSULTATION */

.consaltation-ima-container img {
    width: 601px;
    height: 676px;
}

/* APPOINTMENT-SECTION */
.appointment-section {
    background: #FC616C;
}

/* What our clients say about us */
.client-card {
    border: 1px solid #000000 !important;
    border-radius: 20px !important;
    width: 306px;
    height: 443px;
    margin: auto;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.client-card img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.star-icon {
    color: #FF7A00;
}

/* FOOTER */
.footer-container{
    background: #2D3291;
    min-height: 369px;
}

.quick-links h6 a{
    text-decoration: none;
    color: #fff;
}
.footer-icon a{
    text-decoration: none;
    color: #fff;
}